*{
   list-style: none;
    text-decoration: none;
}
body {
    width: 100vw;
    height: 100vh;
    background-image: var(--background-image);
  }
  
  :root {
    /* --background: #e0e5ec; */
    --background-image: url(../assets/images/fondo.png);
    --background-image2: url(./assets/images/galeria/Foto-135.JPG);
    --gray: #797d7f;
    --facebook: #3b5999;
    --instagram: #d63369;
    --spotify: #00b627;
    --youtube:  #f12400;
    --soundcloud: rgb(252, 122, 0);
    --about: rgb(75, 255, 75);
    --disc: rgb(255, 85, 34);
    --tours: rgb(75, 243, 255);
    --contact: rgb(248, 47, 255);
  }
  /* FONTS */
@font-face {
    font-family: "Menu";
    src: url(../assets/fonts/Insanibc.ttf);}
 

/* ESTILO DE HEADER */
header {
    background: var(--background);
    height: 10vh;
}
header #logo {
    width: 70px;
    height: 70px;
    border-radius: 25%;
    animation-name: animation_menu;
    animation-duration: 2s;
  
}
#logo:hover {
    transform: translateY(-3px) scale(1.75);
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.9);
    filter: none;
  }
  .desktopMenu , .desktopUl , .desktopLi{
    display: flex;
  }
  .desktopMenu li a{

    color: rgb(0, 0, 0);
    background-color: #fff;
    border: black solid 3px;
    border-radius: 12%;
    padding: 10px;
    text-decoration: none;
    font-family: 'Menu';
    font-size: small;
    animation-name: animation_menu;
    animation-duration: 2s;
    margin-top: 15px;
  }
  a{
    cursor: pointer;
  }
.desktopUl{
  padding: 0;
}
  .desktopMenu ul:hover a {
  filter: blur(2px);
  }
  .desktopMenu ul li a:hover {
  transform: translateY(-3px) scale(1.20);
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.9);
  filter: none;
  }
  .desktopMenu ul li #about:hover {
  background: var(--about);
  }
  .desktopMenu ul li #disc:hover {
  background: var(--disc);
  }
  .desktopMenu ul li #tours:hover {
  background: var(--tours);
  }
  .desktopMenu ul li #contact:hover {
  background: var(--contact);
  }
  #collapseMenu{
    z-index: 2;
  }

/* ANIMACION HEADER */
@keyframes animation_menu {
    0%{ transform: translateY(-250px);}
    100% { transform: translateY(0px);}
  }
  /* MAIN */
  #main {
    background: var(--background);

    height: 80vh;

}
img {
    max-width: 100%;
  }
  .player {
   /* width: 60vh; */
     height: 70vh; 
     display: flex; 
       flex-direction: column; 
     align-items: center;
       justify-content: center; 
       background-image: var(--background);
       background: var(--background-image);
       border-radius: 12px;
       box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6),
         -9px -9px 16px rgba(255, 255, 255, 0.5);
       animation-name: animation_player;
       animation-duration: 5s;
   }  
     .playerBtn {
       cursor: pointer;
       height: 50px;
       width: 50px;
       border-radius: 50%;
       display: flex;
      align-items: center;
      justify-content: center;
       box-shadow: -8px -8px 20px 0px #fff9, -6px -6px 6px 0px #fff9,
         8px 8px 20px #0001, 5px 5px 6px 0px #0001;
       color: var(--gray);
   
     }
     .playerBtn:active {
       box-shadow: inset -8px -8px 20px #fff9, inset -5px -5px 6px #fff9,
         inset 8px 8px 20px #0003, inset 5px 5px 6px #0001;
     }
     .playerAlbum {
       width: 30vh;
   
     }
     .playerImg {
       border-radius: 20%;
       transition: transform 5s;
       border: #333 solid;
       box-shadow: 2px 2px 7px rgb(163, 177, 198), -2px -2px 7px rgb(163, 177, 198),
         -8px -8px 50px rgba(255, 255, 255, 0.8), 3px 3px 25px rgba(0, 0, 0, 0.6);
         animation-name: animation_playerCont;
         animation-duration: 7s;
   
     }
     .playerArtist {
   
       font-size: 2.5em;
       font-family: "Menu";
       font-weight: 500;
       margin: 20px;
       animation-name: animation_playerCont;
       animation-duration: 7s;
   
     }
     .playerSong {

       width: 100%;
       font-size: 1.5em;
       text-align: center;
       font-family: "Menu";
       font-weight: 300;
       margin: 0;
       animation-name: animation_playerCont;
       animation-duration: 7s;
   
     }
     .playerAudio {
       visibility: hidden;
     }
     .playerBtn--Medium {
       min-height: 70px;
       min-width: 70px;
     }
   
     .blue {
       background: var(--background-image);
       color: #fff;
     }
     .blue:hover {
       transition: all 2s ease-in-out;
       transform: rotate(360deg);
       background-color: #35e5f1; 
       animation-name: animation_playerBlue;
       animation-duration: 3s; 
      
     }
     .hide {
       display: none;
     }
     /* ANIMACIONES DEL MAIN */
  @keyframes animation_player {
    0% {opacity: 0%;
    }

    100% {    opacity: 100%;
   
  }
  }
  @keyframes animation_playerCont {
    0% {opacity: 0%; }
    100% {    opacity: 100%; }
  
  } 
  @keyframes animation_playerBlue {
    0% {background: var(--background-image); }
    25% {    background: rgba(64, 224, 208, 0.137); }
    50% {    background: rgba(64, 224, 208, 0.288); }
    75% {    background: rgba(64, 224, 208, 0.651); }
    100% {    background: turquoise; }
  
  } 

  /* STILE CONTACTO */
  #formulario {
    font-family: "Menu";
    animation-name: animation_formulario;
    animation-duration: 5s;
    background-image: var(--background-image);
    box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6),
    -9px -9px 16px rgba(255, 255, 255, 0.5);
    z-index: 1;
  }

  /* ANIMACION CONTACTO */
  @keyframes animation_formulario {
    0% {opacity: 0%;
    }

    100% {    opacity: 100%;
   
  }
  }

  /* ESTILOS DE MAIN para TOURS*/
.titTours {
  font-family: 'Menu';
  font-size: 3em;
  animation-name: animation_tours;
  animation-duration: 5s;
  }
  #toursTable {
  box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6),
    -9px -9px 16px rgba(255, 255, 255, 0.5);
    animation-name: animation_tours;
    animation-duration: 5s;
  }
  #toursTable tr th
  {
  font-family: 'Menu';
  font-size: large;}
  #toursTable td{
    font-family: 'Menu';
    font-size: large;
  }

  /* ANIMACION TOURS */
  @keyframes animation_tours {
    0% {opacity: 0%;
    }

    100% {    opacity: 100%;
   
  }
  }
  /* ESTILOS DISCOGRAFIA */

  #discos {
    box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6),
    -9px -9px 16px rgba(255, 255, 255, 0.5);
    border-radius: 10%;
    animation-name: animation_discos;
    animation-duration: 5s;

  }

  /* ANIMACIONES DISCOGRAFIA */
  @keyframes animation_discos {
    0% {opacity: 0%;
    }

    100% {    opacity: 100%;
   
  }
  }

  /* ESTILO ABOUT */
  #aboutBlue {
    font-family: "Menu";
    animation-name: animation_aboutBlue;
    animation-duration: 5s;
  }
  #fotosAbout {
    animation-name: animation_aboutBlue;
    animation-duration: 5s;
  }

  /* ANIMACIONES ABOUT */
    @keyframes animation_aboutBlue {
      0% {opacity: 0%;
      }
  
      100% {    opacity: 100%;
     
    }
    }

  /* ESTILO DE FOOTER */
#footer {
    background-color: var(--background);
    height: 10vh;
}
#redes {
  display: flex;
  height: 10vh;
align-items: center;
justify-content: center;
animation-name: animation_redes;
animation-duration: 2s;
}

#redes ul {
  padding: 0px;
  margin: 0px;
}
#redes ul li {
  display: inline-block;
  margin: 10px;
  /* width: 50px; */
  height: 50px;
  text-align: center;
}
#redes ul li a {
  display: block;
  padding: 0 10px;
  background: #333;
  color: #fff;
  line-height: 50px;
  width: 50px;
  font-size: 1.5em;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.6);
  transition: .2s;
}
#redes ul:hover a {
  filter: blur(2px);
}
#redes ul li a:hover {
  transform: translateY(-3px) scale(1.20);
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.9);
  filter: none;
}
#redes ul li .facebook:hover {
  background: var(--facebook);
}

#redes ul li .instagram:hover {
  background: var(--instagram);
}
#redes ul li .spotify:hover {
  background: var(--spotify);
}
#redes ul li .youtube:hover {
  background: var(--youtube);
}
#redes ul li .soundcloud:hover {
  background: var(--soundcloud);
}
/* ANIMACION FOOTER */

@keyframes animation_redes {
  0%{ transform: translateY(250px);}
  100% { transform: translateY(0px);}
}


/* MEDIA QUERIS */

/* STYLE MOBILE Y TABLET PARA HEADER */
@media screen and (max-width: 991.98px) {
  #logoDesktop{
    display: none;
  }
  #vacioDesktop{
    display: none;
  }
  #menuDesktop{
    display: none;
  }
  #mobileLogo:hover {
    transform: translateY(-1px) scale(1.00);
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.9);
    filter: none;
  }
  .navMenu li {
    line-height: 20px;
    margin: 50px 0;
    transition: all .5s;
    height: 20px;
  }

  .navMenu li a {
    color: rgb(0, 0, 0);
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 600;
    font-family: "Menu";
  }

  .navMenu li a.active, .navMenu li a:hover {
    color: rgb(32, 129, 219);
    transition: .3s;
  }
  header #mobileLogo {
    width: 70px;
    height: 70px;
    border-radius: 25%;
    animation-name: animation_menu;
    animation-duration: 2s;
  
}

}

/* STYLE PARA DESKTOP HEADER */

@media screen and (min-width: 992px) {
  #mobileLogo {
    display: none;
  }
}