*{
    margin: 0;
    padding: 0;list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: var(--background) ;
    display: grid;
    grid-template-rows: .5fr 1fr 2fr .5fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "header header header header"
                          "main main main main"
                          "main main main main"
                          "footer footer footer footer";


    animation-name: animation_background;
    animation-duration: 1s;

  }
  

  @keyframes animation_background {
    0% { background-color: #c4f2fd;}
    100% {
      background-image: var(--background);
    }
  }

  /* VARIABLES */

  :root {
    /* --background: #e0e5ec; */
    background-image: url(../assets/images/fondo.png);
    --background-image2: url(./assets/images/galeria/Foto-135.JPG);
    --gray: #797d7f;
    --facebook: #3b5999;
    --instagram: #d63369;
    --spotify: #00b627;
    --youtube:  #f12400;
    --soundcloud: rgb(252, 122, 0);
    --about: rgb(75, 255, 75);
    --disc: rgb(255, 85, 34);
    --tours: rgb(75, 243, 255);
    --contact: rgb(248, 47, 255);

  }


/* FONTS */

@font-face {
  font-family: "Menu";
  src: url(../assets/fonts/Insanibc.ttf);}



/* ESTILO DE HEADER */

header {
    grid-area: header;
    background: var(--background);
    display: flex;
    position: fixed;
    width: 100%;
    height: 0vh;

}

header #zona {
    display: flex;
    width: 70px;
    height: 70px;
    border-radius: 25%;
    margin: 29px 0 29px 60px;
    animation-name: animation_menu;
    animation-duration: 2s;
}


#zona:hover {
  transform: translateY(-3px) scale(1.75);
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.9);
  filter: none;
}
.contMenu{
  position: absolute;
  top:  37px;
  right: 60px;

}
.desktopMenu , .desktopUl , .desktopLi{
  display: flex;
}

.contMenu li a{

  color: rgb(0, 0, 0);
  background-color: #fff;
  border: black solid 3px;
  border-radius: 12%;
  padding: 10px;
  text-decoration: none;
  font-family: 'Menu';
  animation-name: animation_menu;
  animation-duration: 2s;
  /* padding: 15px 0; */
}
a{
  cursor: pointer;
}

.contMenu ul:hover a {
filter: blur(2px);
}
.contMenu ul li a:hover {
transform: translateY(-3px) scale(1.20);
box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.9);
filter: none;
}
.contMenu ul li #about:hover {
background: var(--about);
}

.contMenu ul li #disc:hover {
background: var(--disc);
}
.contMenu ul li #tours:hover {
background: var(--tours);
}
.contMenu ul li #contact:hover {
background: var(--contact);
}

/* ANIMACION HEADER */

@keyframes animation_menu {
  0%{ transform: translateY(-250px);}
  100% { transform: translateY(0px);}
}

/* ESTILO DE MAIN INDEX */
main {
    grid-area: main;
    background: var(--background);

    height: 80vh;


}
img {
    max-width: 100%;
  }
  .container {
    background-color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;


    }
.player {
 width: 60vh;
  height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: var(--background);
    background: radial-gradient(circle, rgba(27,124,214,1) 17%, rgba(99,196,242,1) 71%, rgba(0,212,255,1) 88%);
    border-radius: 12px;
    box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6),
      -9px -9px 16px rgba(255, 255, 255, 0.5);
    animation-name: animation_player;
    animation-duration: 10s;
   

}


  .playerBtn {
    cursor: pointer;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
   align-items: center;
   justify-content: center;
    box-shadow: -8px -8px 20px 0px #fff9, -6px -6px 6px 0px #fff9,
      8px 8px 20px #0001, 5px 5px 6px 0px #0001;
    color: var(--gray);
          animation-name: animation_playerCont;
      animation-duration: 10s;
  }
  .playerBtn:active {
    box-shadow: inset -8px -8px 20px #fff9, inset -5px -5px 6px #fff9,
      inset 8px 8px 20px #0003, inset 5px 5px 6px #0001;
  }
  .playerAlbum {

    width: 30vh;

  }
  .playerImg {
    border-radius: 20%;
    transform: skewY(5deg);
    transition: transform 5s;
    border: #333 solid;
    box-shadow: 2px 2px 7px rgb(163, 177, 198), -2px -2px 7px rgb(163, 177, 198),
      -8px -8px 50px rgba(255, 255, 255, 0.8), 3px 3px 25px rgba(0, 0, 0, 0.6);
      animation-name: animation_playerCont;
      animation-duration: 12s;

  }
  .playerArtist {

    font-size: 2.5em;
    font-family: "Menu";
    font-weight: 500;
     /* opacity: 0.8;  */
    margin: 20px;
    animation-name: animation_playerCont;
    animation-duration: 13s;

  }
  .playerSong {
    /* position: relative; */
    width: 100%;
    font-size: 1.5em;
    text-align: center;
    font-family: "Menu";
    font-weight: 300;
    margin: 0;
    animation-name: animation_playerCont;
    animation-duration: 13s;

  }
  .playerAudio {
    visibility: hidden;
  }
  .playerBtn--Medium {
    min-height: 70px;
    min-width: 70px;
  }

  .blue {
    background-color: #16747a;
    color: #fff;
  }
  .blue:hover {
    transition: all 2s ease-in-out;
    transform: rotate(360deg);
    background-color: #35e5f1;
    animation-name: animation_playerCont;
    animation-duration: 14s;

  }
  .hide {
    display: none;
  }

  /* ANIMACIONES DEL MAIN */

  @keyframes animation_player {
    0% {opacity: 0%;
    }

    100% {    opacity: 100%;
   
  }
  }
  @keyframes animation_playerCont {
    0% {opacity: 0%; }
    100% {    opacity: 100%; }
  
  } 


/* ESTILOS DE MAIN para ABOUT*/
#aboutMe {
  float: left;
  width: 60vw;
  height: 70vh;
  background-color:var(--background);
  margin: 20px 100px 200px 134px;
  border-radius: 12px;
  box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6),
    -9px -9px 16px rgba(255, 255, 255, 0.5);
    text-align: center;
}
.rese単a {
  padding: 20px;
  font-family: 'Menu';
  font-style: italic;

}
#aside{
  float: right;
  width: 15vw;
  height: 70vh;
  background-color:var(--background);
  margin: 20px 100px 200px 100px;
  border-radius: 12px;
  box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6),
    -9px -9px 16px rgba(255, 255, 255, 0.5);
}
.contGaleria{
  margin: 30px;
}
.galeria {
text-align: center;
margin-top: 40px;
height: fit-content;
width: fit-content;
border-radius: 10%;
border: 2px solid black ;
}

/* ESTILOS DE MAIN para DISCOGRAFIA*/
#discos {
  display: grid;
  width: 100%;
  height: 80vh;
  background-image: var(--background) ;

  grid-template-rows:  1fr 1fr 1fr;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas: ". disco2 . "
                        "disco1 disco2 disco3 "
                        "disco1 disco2 disco3 "
                       ;
  align-items: center;
  justify-content: center;

}

.cajaDisco1 {
grid-area: disco1;
display:flex;
width: 18.5vw;
height: 44.5vh;
background-color: #333;
margin: 0px 100px 0px 100px;
border-radius: 12px;
box-shadow: 9px 9px 16px rgba(0, 102, 255, 0.6),
  -9px -9px 16px rgba(7, 181, 250, 0.5);
}
.cajaDisco2 {
  grid-area: disco2;
display:flex;
width: 430px;
height: 530px;
margin: 0px 50px 0px 150px;
background-color: #333;
border-radius: 12px;
box-shadow: 9px 9px 16px rgba(6, 7, 8, 0.6),
  -9px -9px 16px rgba(0, 0, 0, 0.747);
}
.cajaDisco3 {
  grid-area: disco3;
display:flex;
width:  18.5vw;
height:  44.5vh;
background-color: #333;
margin: 0px 100px 0px 100px;
border-radius: 12px;
box-shadow: 9px 9px 16px rgba(0, 102, 255, 0.6),
  -9px -9px 16px rgba(7, 181, 250, 0.5);
}
.cajaDisco2 iframe {
margin: 35px 40px 35px 40px;
}
.cajaDisco1 iframe {
margin: 25px 25px 25px 25px;
}
.cajaDisco3 iframe {
margin: 25px 25px 25px 25px;
}

/* ESTILOS DE MAIN para TOURS*/
.titTours {
display: flex;
margin: 0px 860px 0px 832px;
font-family: 'Menu';
font-size: 3em;
}
.styledTable {
background-color: #333;
background-size: cover;
width: 40vw;
height: 70vh;
margin: 25px 534px 100px 534px;
border-width: 3px;
border-radius: 20px;
box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6),
  -9px -9px 16px rgba(255, 255, 255, 0.5);
}
.styledTable tr th
{
color: #000000; text-align: middle;
background-image: url(../assets/images/galeria/pape単.jfif);
font-family: 'Menu';
font-size: large;}

/* ESTILOS DE MAIN para contact*/

.form {
  display: grid;
  grid-template-columns:.5fr .5fr 1fr .5fr .5fr ;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: ". . formulario . ."
                        ". . formulario . .";
  align-items: center;
  justify-content: center;
}
.formulario {
grid-area: formulario;
background-color: #333;
background-size: cover;
width: 40vw;
height: 60vh;
border-width: 3px;
border-radius: 20px;
box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6),
  -9px -9px 16px rgba(255, 255, 255, 0.5);
  text-align: center;
}
fieldset legend {
font-family: 'Menu'; color: #fff;
font-size: 2em;
display: flex;
}
.textField {
font-family: 'Menu'; color: #fff;
font-size: 1em;
text-align: left;
margin-left: 10px;
margin-top: 20px;
}
.radioField {
font-family: 'Menu'; color: #fff;
font-size: 1em;
margin-top: 20px;
margin-bottom: 20px;
}
#enviar{
font-family: 'Menu'; color: rgb(0, 0, 0);
font-size: 0.8em;
}
#reset {
font-family: 'Menu'; color: rgb(0, 0, 0);
font-size: 0.8em;
}
textarea {
  display: inline-block;
  width: 30vw;
  height: 38vh;
}



/* ESTILO DE FOOTER */
footer {
    grid-area: footer;
    background-color: var(--background);
    display: flex;
    height: 10vh;
    align-items: center;
  justify-content: center;
}
.redes {
  display: flex;
  height: 10vh;
align-items: center;
justify-content: center;
animation-name: animation_redes;
animation-duration: 2s;
}
.redes ul li {
  display: inline-block;
  margin: 0 5px;
  width: 50px;
  height: 50px;
  text-align: center;
}
.redes ul li a {
  display: block;
  padding: 0 10px;
  background: #333;
  color: #fff;
  line-height: 50px;
  width: 50px;
  font-size: 1.5em;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.6);
  transition: .2s;
}
.redes ul:hover a {
  filter: blur(2px);
}
.redes ul li a:hover {
  transform: translateY(-3px) scale(1.20);
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.9);
  filter: none;
}
.redes ul li .facebook:hover {
  background: var(--facebook);
}

.redes ul li .instagram:hover {
  background: var(--instagram);
}
.redes ul li .spotify:hover {
  background: var(--spotify);
}
.redes ul li .youtube:hover {
  background: var(--youtube);
}
.redes ul li .soundcloud:hover {
  background: var(--soundcloud);
}
/* ANIMACION FOOTER */

@keyframes animation_redes {
  0%{ transform: translateY(250px);}
  100% { transform: translateY(0px);}
}

/* DESKTOP FIRST */

@media screen and (min-width: 1200px) {
  nav {
    display: none;
  }
}

/* STYLE TABLET */
@media screen and (max-width: 1200px) {
  body {
    background-image: url(../assets/images/BACKGROUDS/13742-minimalista.png);
    background-size: cover;
  }
  *::before,
*::after {
  box-sizing: border-box;
}
  /* HEADER TABLET */
  header {
    width: 100%;
    height: 0vh;
    background-image: var(--background);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  header #zona {
    display: none;
  }
    .contMenu {
      display: none;
    }
    nav {
      height: 10vh;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .barBtn {
      font-size: 25px;
      color: black ;
      margin-right: 20px;
      margin-left: 20px;
      cursor: pointer;
    }
    .navMenu {
      position: absolute;
      width: 100%;
      height: 0px;
      top: 100px;
      background: rgba(255, 255, 255, 0.95);
      text-align:center;
      transition: all .5s;
    }
    .navMenu li {
      display: none;
      line-height: 20px;
      margin: 50px 0;
      transition: all .5s;
      height: 20px;
    }
    .navMenu li a {
      color: rgb(0, 0, 0);
      font-size: 1.5em;
      text-transform: uppercase;
      font-weight: 600;
      font-family: "Menu";
    }
    .navMenu li a.active, .navMenu li a:hover {
      color: rgb(32, 129, 219);
      transition: .3s;
    }
    #check {
      display: none;
    }
    #check:checked ~ .navMenu {
      height: 100vh;
    }
    #check:checked ~ .navMenu li {
      display: block;
    }
          /* MAIN */

          main {
            display: grid;
            grid-template-columns: 0.5fr 1fr 0.5fr;
            grid-template-rows: 1fr 1fr;
            grid-template-areas: ". cont ."
                                  ". cont .";
          }
          .container {
            grid-area: cont;
          }
          .player {
            width: 50vh;
            height: 70vh;
              background-color:var(--background);
              border-radius: 50%;

          }
          /* CONTACTO */
          fieldset legend {
          font-family: 'Menu'; color: #fff;
          font-size: 1em;
          }

          /* ABOUT ME */
          #aboutMe {
           display: none;
          }
          .rese単a {
            display: none;
          }
          #aside{
            display: none;
          }
          .contGaleria{
            display: none;
          }
          .galeria {
            display: none;
          }


        /* DISCOGRAFIA */

        .cajaDisco1 {
          display: none;

          }
          .cajaDisco2 {
            display: none;

          }
          .cajaDisco3 {
            display: none;

          }
          .cajaDisco2 iframe {
            display: none;
          }
          .cajaDisco1 iframe {
            display: none;
          }
          .cajaDisco3 iframe {
            display: none;
          }

        /* TOURS */
        .titTours {
          display: none;
        }
          .styledTable {
            display: none;
          }

        }



/* STYLE MOBILE */
@media screen and (max-width: 468px) {

  body {
    background-image: url(../assets/images/BACKGROUDS/WOOD.jpg);
    background-size: cover;
  }

  *::before,
  *::after {
    box-sizing: border-box;
  }


    /* HEADER MOBIL */
    header {
      width: 100%;
      height: 0vh;
      background-image: url(../assets/images/BACKGROUDS/WOOD.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
    header #zona {
      display: none;
    }
      .contMenu {
        display: none;
      }
      nav {
        height: 10vh;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .barBtn {
        font-size: 25px;
        color: rgb(255, 250, 250) ;
        margin-right: 20px;
        margin-left: 20px;
        cursor: pointer;
      }

      .navMenu {
        position: absolute;
        width: 100%;
        height: 0px;
        top: 100px;
        background: rgba(255, 255, 255, 0.95);
        text-align:center;
        transition: all .5s;
      }
      .navMenu li {
        display: none;
        line-height: 20px;
        margin: 50px 0;
        transition: all .5s;
        height: 20px;
      }

      .navMenu li a {
        color: rgb(0, 0, 0);
        font-size: 1.5em;
        text-transform: uppercase;
        font-weight: 600;
        font-family: "Menu";
      }

      .navMenu li a.active, .navMenu li a:hover {
        color: rgb(32, 129, 219);
        transition: .3s;
      }

      #check {
        display: none;
      }

      #check:checked ~ .navMenu {
        height: 100vh;
      }

      #check:checked ~ .navMenu li {
        display: block;
      }

      /* MAIN */

      main {
        display: grid;
        background-image: url(../assets/images/BACKGROUDS/WOOD.jpg);
        grid-template-columns: 0.5fr 1fr 0.5fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: ". cont ."
                              ". cont .";
      }
      .container {
        grid-area: cont;
      }
      .player {
          width: 35vh;
          height: 63vh;

            background-color:var(--background);
            border-radius: 55px;

             box-shadow: 9px 9px 16px rgba(78, 3, 66, 0.6),
              -9px -9px 16px rgba(31, 2, 78, 0.5);


      }
      .playerImg {
        border-radius: 50%;
        border: #333 solid;
        box-shadow: none;
      }

      .playerArtist {

        font-size: 2.5em;
        font-family: "Menu";
        font-weight: 500;
         /* opacity: 0.8;  */
        margin: 20px;
        color: whitesmoke ;
      }

      .playerSong {
        /* position: relative; */
        width: 100%;
        font-size: 1.5em;
        text-align: center;
        font-family: "Menu";
        font-weight: 300;
        margin: 0;
        color: aliceblue;

      }
      .blue {
        background-color: #179fa8;
        color: #fff;
      }

      /* CONTACTO */
.form {
  display: grid;
  grid-template-columns:.5fr  1fr  .5fr ;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: ".  formulario  ."
                        ".  formulario  .";

}
.formulario {
  width: 60vw;
  height: 50vh;

  box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6),
    -9px -9px 16px rgba(255, 255, 255, 0.5);
    text-align: center;
}
textarea {
  display: inline-block;
  width: 38vw;
  height: 25vh;
}

        /* ABOUT */
#aboutMe {
  display: none;
 }
 .rese単a {
   display: none;
 }
 #aside{
   display: none;
 }
 .contGaleria{
  display: none;
 }
 .galeria {
   display: none;
 }
        /* DISCOGRAFIA */

        .cajaDisco1 {
          display: none;

          }
          .cajaDisco2 {
            display: none;

          }
          .cajaDisco3 {
            display: none;

          }
          .cajaDisco2 iframe {
            display: none;
          }
          .cajaDisco1 iframe {
            display: none;
          }
          .cajaDisco3 iframe {
            display: none;
          }

        /* TOURS */


        .titTours {
          display: none;
        }
          .styledTable {
            display: none;
          }


/* FOOTER */

      footer {
        background-image: url(../assets/images/BACKGROUDS/WOOD.jpg);
      }
    }