header {
  background: url(../assets/images/fondo.png);
  height: 10vh; }
  header #logo {
    width: 70px;
    height: 70px;
    border-radius: 20%;
    animation-name: animation_menu;
    animation-duration: 2s; }
    header #logo:hover {
      transform: translateY(-3px) scale(1.2);
      box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.9);
      filter: none;
      transition: .5s; }
  header .desktopMenu .desktopUl {
    display: flex;
    padding: 0;
    animation-name: animation_menu;
    animation-duration: 2s; }
    header .desktopMenu .desktopUl .desktopLi {
      list-style: none; }
      header .desktopMenu .desktopUl .desktopLi a {
        color: black;
        background-color: #fff;
        border: black solid 3px;
        border-radius: 20%;
        padding: 10px;
        text-decoration: none;
        font-family: 'Menu';
        font-size: small;
        transition: .5s; }
  header #burguer p a #mobileLogo {
    width: 70px;
    height: 70px;
    border-radius: 20%;
    animation-name: animation_menu;
    animation-duration: 2s; }
    header #burguer p a #mobileLogo:hover {
      transform: translateY(-1px) scale(1);
      box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.9);
      filter: none;
      transition: .5s; }
  header #burguer #offcanvasDarkNavbar {
    background: url(../assets/images/fondo.png); }
    header #burguer #offcanvasDarkNavbar #navMenu li {
      list-style: none;
      line-height: 20px;
      margin: 50px 0;
      transition: all .5s;
      height: 20px; }
      header #burguer #offcanvasDarkNavbar #navMenu li a {
        color: black;
        font-family: "Menu";
        font-weight: 400;
        font-size: 1.5em;
        text-transform: uppercase; }
        header #burguer #offcanvasDarkNavbar #navMenu li a:hover {
          color: #2081db;
          transition: .3s; }

.desktopMenu ul:hover a {
  filter: blur(2px); }

.desktopMenu ul li a:hover {
  transform: translateY(-3px) scale(1.2);
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.9);
  filter: none;
  transition: .5s; }

.desktopMenu ul li #about:hover {
  background: #4bff4b; }

.desktopMenu ul li #disc:hover {
  background: #ff5522; }

.desktopMenu ul li #tours:hover {
  background: #4bf3ff; }

.desktopMenu ul li #contact:hover {
  background: #f82fff; }

/* ANIMACION HEADER */
@keyframes animation_menu {
  0% {
    transform: translateY(-250px); }
  100% {
    transform: translateY(0px); } }

#footer {
  height: 10vh; }
  #footer #footerCont {
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: center;
    animation-name: animation_redes;
    animation-duration: 2s; }
    #footer #footerCont #redes {
      padding: 0px;
      margin: 0px; }
      #footer #footerCont #redes li {
        display: inline-block;
        margin: 10px;
        height: 50px;
        text-align: center; }
        #footer #footerCont #redes li a {
          display: block;
          padding: 0 10px;
          background: #333;
          color: #fff;
          line-height: 50px;
          width: 50px;
          font-size: 1.5em;
          box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.6); }
          #footer #footerCont #redes li a:hover {
            filter: blur(2px);
            transform: translateY(-3px) scale(1.2);
            box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.9);
            filter: none;
            transition: .5s; }
        #footer #footerCont #redes li .facebook:hover {
          background: #3b5999; }
        #footer #footerCont #redes li .instagram:hover {
          background: #d63369; }
        #footer #footerCont #redes li .spotify:hover {
          background: #00b627; }
        #footer #footerCont #redes li .youtube:hover {
          background: #f12400; }
        #footer #footerCont #redes li .soundcloud:hover {
          background: #fc7a00; }

#footerCont ul:hover a {
  filter: blur(2px); }

/* ANIMACION FOOTER */
@keyframes animation_redes {
  0% {
    transform: translateY(250px); }
  100% {
    transform: translateY(0px); } }

#main {
  height: 80vh; }
  #main .player {
    height: 70vh;
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
    box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6), -9px -9px 16px rgba(255, 255, 255, 0.5);
    animation-name: animation_player;
    animation-duration: 5s; }
    #main .player .playerAlbum {
      width: 30vh; }
      #main .player .playerAlbum .playerImg {
        border-radius: 20%;
        max-width: 100%;
        transition: transform 5s;
        border: #333 solid;
        box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6), -9px -9px 16px rgba(255, 255, 255, 0.5); }
    #main .player .playerArtist {
      font-family: "Menu";
      font-weight: 500;
      font-size: 2.5em;
      margin: 20px; }
    #main .player .playerSong {
      font-family: "Menu";
      font-weight: 400;
      font-size: 1.5em;
      width: 100%;
      text-align: center;
      margin: 0; }
    #main .player .playerAudio {
      visibility: hidden; }
    #main .player .playerBtn--Medium {
      min-height: 70px;
      min-width: 70px; }
    #main .player .playerBtn, #main .player .playerBtn--Medium {
      cursor: pointer;
      height: 50px;
      width: 50px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6), -9px -9px 16px rgba(255, 255, 255, 0.5);
      color: var(--gray); }
    #main .player .blue {
      background: var(--background-image);
      color: #fff; }
      #main .player .blue:hover {
        transition: all 2s ease-in-out;
        transform: rotate(360deg);
        background-color: #35e5f1; }
    #main .player .hide {
      display: none; }
  #main #formulario {
    font-family: "Menu";
    border-radius: 10%;
    box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6), -9px -9px 16px rgba(255, 255, 255, 0.5);
    animation-name: animation_player;
    animation-duration: 5s;
    margin-top: 20px;
    background-image: url(../assets/images/fondo.png); }
  #main .titTours {
    font-family: "Menu";
    font-weight: 500;
    font-size: 2.5em;
    animation-name: animation_player;
    animation-duration: 5s; }
  #main #toursTable {
    font-family: "Menu";
    font-weight: 400;
    font-size: 1.5em;
    border-radius: 10%;
    box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6), -9px -9px 16px rgba(255, 255, 255, 0.5);
    animation-name: animation_player;
    animation-duration: 5s; }
  #main #aboutBlue {
    font-family: "Menu";
    font-weight: 400;
    font-size: 1.5em;
    animation-name: animation_player;
    animation-duration: 5s; }
  #main #fotosAbout {
    animation-name: animation_player;
    animation-duration: 5s; }
  #main #discos {
    border-radius: 10%;
    box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6), -9px -9px 16px rgba(255, 255, 255, 0.5);
    animation-name: animation_player;
    animation-duration: 4s; }

/* ANIMACIONES DEL MAIN */
@keyframes animation_player {
  0% {
    opacity: 0%; }
  100% {
    opacity: 100%; } }

@font-face {
  font-family: "Menu";
  src: url(../assets/fonts/Insanibc.ttf); }

body {
  width: 100vw;
  height: 100vh;
  background-image: url(../assets/images/fondo.png); }

@media only screen and (min-width: 1200px) {
  header #mobileLogo {
    display: none; } }

@media only screen and (min-width: 1400px) {
  main #aboutBlue p {
    font-weight: 300;
    font-size: .9em; } }

@media only screen and (min-width: 1400px) {
  tbody tr th, tbody tr td {
    font-weight: 400;
    font-size: 1.5em; } }

@media only screen and (max-width: 1399.98px) {
  main #aboutBlue p {
    font-weight: 400;
    font-size: .8em; } }

@media only screen and (max-width: 1399.98px) {
  tbody tr th, tbody tr td {
    font-weight: 400;
    font-size: 1em; } }

@media only screen and (max-width: 1199.98px) {
  header #logo {
    display: none; } }

@media only screen and (max-width: 1199.98px) {
  header #vacioDesktop {
    display: none; } }

@media only screen and (max-width: 1199.98px) {
  header #menuDesktop {
    display: none; } }

@media only screen and (max-width: 1199.98px) {
  main #aboutBlue p {
    font-weight: 300;
    font-size: .55em; } }

@media only screen and (max-width: 1199.98px) {
  tbody tr th, tbody tr td {
    font-weight: 300;
    font-size: .8em; } }

@media only screen and (max-width: 767.98px) {
  main #discos #carouselIndicators {
    width: 22rem;
    height: 22rem; } }

@media only screen and (max-width: 767.98px) {
  main #discos #carouselIndicators iframe {
    width: 22rem;
    height: 22rem; } }

@media only screen and (max-width: 767.98px) {
  tbody tr th, tbody tr td {
    font-weight: 300;
    font-size: .55em; } }
