header {
  background: url(../assets/images/fondo.png);
  height: 10vh; }
  header #logo {
    width: 70px;
    height: 70px;
    border-radius: 25%; }
    header #logo:hover {
      transform: translateY(-3px) scale(1.75);
      box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.9);
      filter: none; }
  header .desktopMenu .desktopUl {
    display: flex;
    padding: 0; }
    header .desktopMenu .desktopUl .desktopLi {
      list-style: none; }
      header .desktopMenu .desktopUl .desktopLi a {
        color: black;
        background-color: #fff;
        border: black solid 3px;
        border-radius: 12%;
        padding: 10px;
        text-decoration: none;
        font-family: 'Menu';
        font-size: small; }

@font-face {
  font-family: "Menu";
  src: url(../assets/fonts/Insanibc.ttf); }

body {
  width: 100vw;
  height: 100vh;
  background-image: url(../assets/images/fondo.png); }
