header {
  background: url(../assets/images/fondo.png);
  height: 10vh; }
  header #logo {
    width: 70px;
    height: 70px;
    padding: 0;
    border-radius: 20%;
    animation-name: animation_menu;
    animation-duration: 2s; }
    header #logo:hover {
      transform: translateY(-3px) scale(1.2);
      box-shadow: 0 rgba(0, 0, 0, 0.9);
      filter: none;
      transition: .5s; }
  header .desktopMenu .desktopUl {
    display: flex;
    padding: 0;
    animation-name: animation_menu;
    animation-duration: 2s; }
    header .desktopMenu .desktopUl .desktopLi {
      list-style: none;
      margin: 5px; }
      header .desktopMenu .desktopUl .desktopLi:hover {
        transform: translateY(-3px) scale(1.2);
        box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.9);
        transition: .5s; }
      header .desktopMenu .desktopUl .desktopLi a {
        background: #333;
        color: #fff;
        padding: 10px;
        text-decoration: none;
        font-family: 'Menu';
        font-size: small;
        transition: .5s;
        letter-spacing: 1.5px;
        box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.6);
        border-radius: 5px; }
        header .desktopMenu .desktopUl .desktopLi a:hover {
          color: #333;
          background: url(../assets/images/fondo.png);
          filter: blur(2px);
          transform: translateY(-8px) scale(1.2);
          box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.9);
          filter: none;
          transition: .7s; }
  header #burguer p a #mobileLogo {
    width: 70px;
    height: 70px;
    padding: 0;
    border-radius: 20%;
    animation-name: animation_menu;
    animation-duration: 2s; }
    header #burguer p a #mobileLogo:hover {
      transform: translateY(-1px) scale(1);
      box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.9);
      filter: none;
      transition: .5s; }
  header #burguer #offcanvasDarkNavbar {
    background: url(../assets/images/fondo.png); }
    header #burguer #offcanvasDarkNavbar #navMenu li {
      list-style: none;
      line-height: 20px;
      margin: 50px 0;
      transition: all .5s;
      height: 20px; }
      header #burguer #offcanvasDarkNavbar #navMenu li a {
        color: black;
        font-family: "Menu";
        font-weight: 400;
        font-size: 1.5em;
        letter-spacing: 1.5px;
        text-transform: uppercase; }
        header #burguer #offcanvasDarkNavbar #navMenu li a:hover {
          color: #2081db;
          transition: .3s; }

.desktopMenu ul:hover a {
  filter: blur(2px); }

/* ANIMACION HEADER */
@keyframes animation_menu {
  0% {
    transform: translateY(-250px); }
  100% {
    transform: translateY(0px); } }

#footer {
  height: 10vh; }
  #footer #footerCont {
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: center;
    animation-name: animation_redes;
    animation-duration: 2s; }
    #footer #footerCont #redes {
      padding: 0px;
      margin: 0px; }
      #footer #footerCont #redes li {
        display: inline-block;
        margin: 10px;
        height: 10px;
        text-align: center; }
        #footer #footerCont #redes li a {
          display: block;
          padding: 0 10px;
          background: #333;
          color: #fff;
          line-height: 50px;
          width: 50px;
          font-size: 1.5em;
          box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.6);
          border-radius: 13%; }
          #footer #footerCont #redes li a:hover {
            filter: blur(2px);
            transform: translateY(-3px) scale(1.2);
            box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.9);
            filter: none;
            transition: .5s; }
        #footer #footerCont #redes li .facebook:hover {
          background: #3b5999; }
        #footer #footerCont #redes li .instagram:hover {
          background: #d63369; }
        #footer #footerCont #redes li .spotify:hover {
          background: #00b627; }
        #footer #footerCont #redes li .youtube:hover {
          background: #f12400; }
        #footer #footerCont #redes li .soundcloud:hover {
          background: #fc7a00; }

#footerCont ul:hover a {
  filter: blur(2px); }

/* ANIMACION FOOTER */
@keyframes animation_redes {
  0% {
    transform: translateY(250px); }
  100% {
    transform: translateY(0px); } }

#main {
  height: 80vh; }
  #main .player {
    height: 70vh;
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
    box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6), -9px -9px 16px rgba(255, 255, 255, 0.39);
    animation-name: animation_player;
    animation-duration: 5s; }
    #main .player .player-album {
      width: 30vh; }
      #main .player .player-album .player-img {
        border-radius: 20%;
        max-width: 100%;
        transition: transform 5s;
        box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6), -9px -9px 16px rgba(255, 255, 255, 0.39); }
    #main .player .player-artist {
      font-family: "Menu";
      font-weight: 500;
      font-size: 2.5em;
      letter-spacing: 1.8px;
      margin: 20px; }
    #main .player .player-song {
      font-family: "Menu";
      font-weight: 400;
      font-size: 1.5em;
      letter-spacing: 1.5px;
      width: 100%;
      text-align: center;
      margin: 0; }
    #main .player .player-audio {
      visibility: hidden; }
    #main .player .player-btn--Medium {
      min-height: 70px;
      min-width: 70px; }
    #main .player .player-btn, #main .player .player-btn--Medium {
      cursor: pointer;
      height: 50px;
      width: 50px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6), -9px -9px 16px rgba(255, 255, 255, 0.39);
      color: var(--gray); }
    #main .player .blue {
      background: var(--background-image);
      color: #fff; }
      #main .player .blue:hover {
        transition: all 2s ease-in-out;
        transform: rotate(360deg);
        background-color: #22cbff;
        box-shadow: 9px 9px 16px rgba(255, 255, 255, 0.39), -9px -9px 16px rgba(255, 255, 255, 0.39); }
    #main .player .hide {
      display: none; }
  #main #formulario {
    font-family: "Menu";
    letter-spacing: 1.5px;
    border-radius: 10%;
    box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6), -9px -9px 16px rgba(255, 255, 255, 0.39);
    animation-name: animation_player;
    animation-duration: 5s;
    margin-top: 20px;
    background-image: url(../assets/images/fondo.png); }
    #main #formulario .btn {
      background-color: transparent;
      color: #333;
      border: solid 2px #333;
      letter-spacing: 2px;
      transition: 0.8s ease; }
    #main #formulario .btn:hover {
      background-color: #33daf0;
      color: #fff; }
  #main .fc-title {
    animation-name: animation_player;
    animation-duration: 5s;
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 1328px;
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 50px; }
    #main .fc-title h2 {
      font-family: "Menu";
      color: #1d1d1b;
      font-size: 2.6rem;
      letter-spacing: 0;
      text-align: center; }
  #main .fc-tours {
    animation-name: animation_player;
    animation-duration: 5s;
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 1328px;
    padding-left: 24px;
    padding-right: 24px; }
    #main .fc-tours .tour-date-list {
      position: relative;
      min-height: 50vh;
      font-family: "Menu";
      letter-spacing: 0; }
      #main .fc-tours .tour-date-list .tour-date {
        align-items: flex-end;
        justify-content: space-between;
        margin-bottom: 16px;
        font-weight: 300; }
        #main .fc-tours .tour-date-list .tour-date .tour-date__info {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          border-bottom: 4px solid #1d1d1b;
          margin-right: 5px;
          padding-bottom: 12px; }
          #main .fc-tours .tour-date-list .tour-date .tour-date__info .tour-date__info__dates {
            min-width: 25%;
            margin-bottom: 0; }
          #main .fc-tours .tour-date-list .tour-date .tour-date__info .tour-date__info__venue {
            min-width: 25%;
            margin-bottom: 0; }
          #main .fc-tours .tour-date-list .tour-date .tour-date__info .tour-date__info__location {
            min-width: 50%;
            margin-bottom: 0; }
          #main .fc-tours .tour-date-list .tour-date .tour-date__info .button {
            background-color: transparent;
            font-weight: 300;
            text-align: center;
            line-height: 2.4rem;
            padding: 0.1rem 1rem;
            max-width: 22.4rem;
            text-decoration: none;
            display: inline-block;
            cursor: pointer; }
          #main .fc-tours .tour-date-list .tour-date .tour-date__info .button:hover {
            background-color: #33daf0; }
          #main .fc-tours .tour-date-list .tour-date .tour-date__info a:hover {
            color: #fff; }
          #main .fc-tours .tour-date-list .tour-date .tour-date__info .button--black {
            border: 4px solid #1d1d1b;
            color: #1d1d1b;
            transition: all ease-in .25s; }
          #main .fc-tours .tour-date-list .tour-date .tour-date__info .button--small {
            font-size: 1.6rem;
            padding: 0.4rem 0.8rem;
            white-space: nowrap; }
          #main .fc-tours .tour-date-list .tour-date .tour-date__info .tour-date__info__location .label {
            font-size: 25px;
            line-height: 1;
            color: #1d1d1b;
            text-align: left; }
          #main .fc-tours .tour-date-list .tour-date .tour-date__info .tour-date__info__dates .label {
            font-size: 20px;
            line-height: 1;
            color: #1d1d1b;
            text-align: left; }
          #main .fc-tours .tour-date-list .tour-date .tour-date__info .tour-date__info__venue .label {
            font-size: 25px;
            line-height: 1;
            color: #1d1d1b;
            text-align: left; }
  #main .tour-date-list {
    position: relative;
    min-height: 50vh; }
  #main #aboutBlue {
    font-family: "Menu";
    font-weight: 400;
    font-size: 1.5em;
    letter-spacing: 1.5px;
    animation-name: animation_player;
    animation-duration: 5s; }
  #main #fotosAbout {
    animation-name: animation_player;
    animation-duration: 5s;
    margin-bottom: 0px; }
  #main .slide-container {
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1120px;
    width: 100%;
    padding: 40px 0;
    animation-name: animation_player;
    animation-duration: 5s; }
  #main .slide-content {
    margin: 0 40px;
    overflow: hidden;
    border-radius: 25px;
    padding: 60px; }
  #main .swiper-navBtn {
    color: #333;
    transition: color 0.3s ease; }
  #main .swiper-navBtn:hover {
    color: #4070F4; }
  #main .swiper-navBtn::before,
  #main .swiper-navBtn::after {
    font-size: 45px;
    font-weight: 800; }
  #main .swiper-button-next {
    right: 0; }
  #main .swiper-button-prev {
    left: 0; }
  #main .swiper-pagination-bullet {
    background-color: #6E93f7;
    opacity: 1; }
  #main .swiper-pagination-bullet-active {
    background-color: #4070F4; }
  @media screen and (max-width: 768px) {
    #main .slide-content {
      margin: 0 10px; }
    #main .swiper-navBtn {
      display: none; } }
  #main .card {
    width: 300px;
    height: 350px;
    background-color: transparent;
    border-color: transparent; }
  #main .card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    overflow: hidden;
    transition: 2s; }
  #main .card .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6), -9px -9px 16px rgba(255, 255, 255, 0.39); }
    #main .card .front img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover; }
  #main .card .back {
    transform: perspective(600px) rotateY(180deg);
    box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6), -9px -9px 16px rgba(255, 255, 255, 0.39);
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center; }
    #main .card .back h3 {
      font-family: "Menu";
      color: #1d1d1b;
      font-size: 1.1rem;
      letter-spacing: 2px; }
    #main .card .back p {
      font-family: "Menu";
      color: #1d1d1b;
      font-size: .7rem;
      letter-spacing: 2px; }
    #main .card .back iframe {
      box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6), -9px -9px 16px rgba(255, 255, 255, 0.39); }
  #main .card:hover .front {
    transform: perspective(600px) rotateY(180deg); }
  #main .card:hover .back {
    transform: perspective(600px) rotateY(360deg); }

/* ANIMACIONES DEL MAIN */
@keyframes animation_player {
  0% {
    opacity: 0%; }
  100% {
    opacity: 100%; } }

@font-face {
  font-family: "Menu";
  src: url(../assets/fonts/Insanibc.ttf); }

body {
  width: 100vw;
  height: 100vh;
  background-image: url(../assets/images/fondo.png); }

@media only screen and (min-width: 1200px) {
  header #mobileLogo {
    display: none; } }

main .fc-tours .tour-date-list .tour-date .tour-date__info {
  font-size: 15px; }

@media only screen and (min-width: 1400px) {
  main #aboutBlue p {
    font-weight: 300;
    font-size: .9em; } }

@media only screen and (min-width: 1400px) {
  main #fotosAbout {
    font-weight: 300;
    font-size: .9em; } }

#footer #footerCont #redes li {
  text-align: center;
  justify-content: center; }

main .fc-tours .tour-date-list .tour-date .tour-date__info {
  font-size: 15px; }

@media only screen and (max-width: 1399.98px) {
  main #aboutBlue p {
    font-weight: 400;
    font-size: .8em; } }

@media only screen and (max-width: 1399.98px) {
  main #fotosAbout {
    font-weight: 400;
    font-size: .8em; } }

#footer #footerCont #redes li {
  text-align: center;
  justify-content: center; }

@media only screen and (max-width: 1199.98px) {
  header #logo {
    display: none; } }

@media only screen and (max-width: 1199.98px) {
  header #vacioDesktop {
    display: none; } }

@media only screen and (max-width: 1199.98px) {
  header #menuDesktop {
    display: none; } }

main .fc-tours .tour-date-list .tour-date .tour-date__info {
  font-size: 15px; }

@media only screen and (max-width: 1199.98px) {
  main #aboutBlue p {
    font-weight: 300;
    font-size: .55em; } }

@media only screen and (max-width: 1199.98px) {
  main #fotosAbout {
    font-weight: 300;
    font-size: .55em; } }

#footer #footerCont #redes li {
  text-align: center;
  justify-content: center; }

main .fc-tours .tour-date-list .tour-date .tour-date__info {
  font-size: 15px; }
  @media only screen and (max-width: 390px) {
    main .fc-tours .tour-date-list .tour-date .tour-date__info .tour-date__info__venue {
      display: none; } }

@media only screen and (max-width: 360px) {
  main #fotosAbout {
    width: 17rem;
    height: 10.5rem; } }

#footer #footerCont #redes li {
  text-align: center;
  justify-content: center; }
  @media only screen and (max-width: 350px) {
    #footer #footerCont #redes li {
      margin: 5px;
      height: 6px; } }

main .fc-tours .tour-date-list .tour-date .tour-date__info {
  font-size: 15px; }

@media only screen and (max-width: 390px) {
  main #aboutBlue h1 {
    font-size: 1.5em; } }

@media only screen and (max-width: 390px) {
  main #aboutBlue p {
    font-weight: 300;
    font-size: .41em; } }

@media only screen and (min-width: 390px) {
  main #fotosAbout {
    width: 32rem;
    height: 22rem; } }

#footer #footerCont #redes li {
  text-align: center;
  justify-content: center; }
  @media only screen and (max-width: 390px) {
    #footer #footerCont #redes li a {
      padding: 0 10px;
      line-height: 40px;
      width: 40px;
      font-size: 1em; } }
