header{
    background: $background ;
    height: 10vh;
    #logo{
        width: 70px;
        height: 70px;
        border-radius: 25%;
        animation-name: animation_menu;
        animation-duration: 2s;
        &:hover {
            transform: translateY(-3px) scale(1.75);
            box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.9);
            filter: none;
        }
    }
    .desktopMenu{
       
        .desktopUl{
            display: flex;
            padding: 0;
            animation-name: animation_menu;
            animation-duration: 2s;
                .desktopLi{
                    list-style: none;
                    a{
                        color: rgb(0, 0, 0);
                        background-color: #fff;
                        border: black solid 3px;
                        border-radius: $borderRadious;
                        padding: 10px;
                        text-decoration: none;
                        font-family: 'Menu';
                        font-size: small;   
                        transition: .2s;               
                    }
                }
            

        }
    }
    #burguer {
        p {
            a{
                #mobileLogo{
                    width: 70px;
                    height: 70px;
                    border-radius: $borderRadious;
                    &:hover {
                        transform: translateY(-1px) scale(1.00);
                        box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.9);
                        filter: none;
                    }
                }
            }
        }
        #collapseMenu {
            .navMenu{
                li {    
                    list-style: none;
                    line-height: 20px;
                    margin: 50px 0;
                    transition: all .5s;
                    height: 20px;
                    a {    color: rgb(0, 0, 0);
                        font-size: 1.5em;
                        text-transform: uppercase;
                        font-weight: 600;
                        font-family: "Menu";
                        &:hover {
                            color: rgb(32, 129, 219);
                            transition: .3s;
                        }
                    }
                }
            }
        }
    }
}

.desktopMenu ul:hover a {
    filter: blur(2px);
    }
    .desktopMenu ul li a:hover {
    transform: translateY(-3px) scale(1.20);
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.9);
    filter: none;
    }
    .desktopMenu ul li #about:hover {
        background: map-get($colores-menu , "about")
    }
     .desktopMenu ul li #disc:hover {
        background:  map-get($colores-menu , "disc")
        }
     .desktopMenu ul li #tours:hover {
        background:  map-get($colores-menu , "tours")
        }
    .desktopMenu ul li #contact:hover {
        background:  map-get($colores-menu , "contact")
        }

/* ANIMACION HEADER */
@keyframes animation_menu {
    0%{ transform: translateY(-250px);}
    100% { transform: translateY(0px);}
  }