#main{
    height: 80vh;
    .player{
        
        height: 70vh; 
        display: flex;
        margin-top: 20px; 
        flex-direction: column; 
        align-items: center;
        justify-content: center; 
        border-radius:($borderRadious/2);
        box-shadow: $borderShadow;
        animation-name: animation_player;
        animation-duration: 5s;
        .playerAlbum {
            width: 30vh;
            .playerImg{border-radius: $borderRadious;
                max-width: 100%;
                transition: transform 5s;
                border: #333 solid;
                box-shadow: $borderShadow;}
        }
          .playerArtist{     
            @include titulos;
            margin: 20px;
           }
        .playerSong {       
            @include subtitulos;
            width: 100%;
            text-align: center;
            margin: 0;}
        .playerAudio {       visibility: hidden;}
        .playerBtn--Medium {     
            @extend .playerBtn;
            min-height: 70px;
            min-width: 70px;}
        .playerBtn {       cursor: pointer;
            height: 50px;
            width: 50px;
            border-radius: 50%;
            display: flex;
           align-items: center;
           justify-content: center;
            box-shadow: $borderShadow;
            color: var(--gray);}
        .blue{       background: var(--background-image);
            color: #fff;
            &:hover {
                transition: all 2s ease-in-out;
                transform: rotate(360deg);
                background-color: #35e5f1; 

            }
        }
        .hide {      display: none;}
    }
    #formulario {
        font-family: "Menu";
        border-radius:($borderRadious/2);
        box-shadow: $borderShadow;
        animation-name: animation_player;
        animation-duration: 5s;
        margin-top: 20px;
        background-image: $background ;
    }
    .titTours {
        @include titulos;
        animation-name: animation_player;
        animation-duration: 5s;
    }
    #toursTable {
        @include subtitulos;
        border-radius:($borderRadious/2);
        box-shadow: $borderShadow;
        animation-name: animation_player;
        animation-duration: 5s;
    

    }
    #aboutBlue {
        @include subtitulos;
        animation-name: animation_player;
        animation-duration: 5s;
      }
      #fotosAbout {
        animation-name: animation_player;
        animation-duration: 5s;
      }
      #discos {
        border-radius:($borderRadious/2);
        box-shadow: $borderShadow;
        animation-name: animation_player;
        animation-duration: 4s;
    
      }
    
}
     /* ANIMACIONES DEL MAIN */
     @keyframes animation_player {
        0% {opacity: 0%;
        }
    
        100% {    opacity: 100%;
       
      }
    }