/* STYLE MOBILE Y TABLET PARA HEADER */
@media screen and (max-width: 991.98px) {
    #logoDesktop{
      display: none;
    }
    #vacioDesktop{
      display: none;
    }
    #menuDesktop{
      display: none;
    }
  }
  
  /* STYLE PARA DESKTOP HEADER */
  
  @media screen and (min-width: 992px) {
    #mobileLogo {
      display: none;
    }
  }