@mixin titulos {
        font-family: "Menu";
        font-weight: 500;
        font-size: 2.5em;
      }
@mixin subtitulos {
        font-family: "Menu";
        font-weight: 400;
        font-size: 1.5em;
        
}
@mixin logo  {
        width: 70px;   
        height: 70px;        
        border-radius: 20%;
      }
      