@mixin titulos {
        font-family: "Menu";
        font-weight: 500;
        font-size: 2.5em;
      }
@mixin subtitulos {
        font-family: "Menu";
        font-weight: 400;
        font-size: 1.5em;
        
}
@mixin logo  {
        width: 70px;   
        height: 70px;        
        border-radius: 20%;
      }
      
@mixin query ($vista) {
        header{
                #logo{
                        @if $vista == tablet {
                                @media only screen and (max-width:1199.98px){
                                display: none;
        
                                }    
                        }                          
                }
                #vacioDesktop{
                        @if $vista == tablet {
                                @media only screen and (max-width: 1199.98px){
                                display: none;
        
                                }
                        }
                }
                #menuDesktop{
                        @if $vista == tablet {
                                @media only screen and (max-width: 1199.98px){
                                display: none;
        
                                }
                        }
                }
                #mobileLogo{
                        @if $vista == desktop {
                                @media only screen and (min-width:1200px){
                                display: none;
        
                                }
                        }
                }
        }
        main{
                #aboutBlue{
                        p { @if $vista == desktop {
                                @media only screen and (min-width: 1400px){
                                       
                                        font-weight: 300;
                                        font-size: .9em;
        
                                }
                                
                        }
                        @else if $vista == laptop {
                                @media only screen and (max-width: 1399.98px){
                                       
                                        font-weight: 400;
                                        font-size: .8em;
                                }
        
                                }
                        @else if $vista == tablet {
                                @media only screen and (max-width: 1199.98px){
                                       
                                        font-weight: 300;
                                        font-size: .55em;
        
                                }
                                
                        }
                                
                        }
                }
                        
                
                #discos{

                         #carouselIndicators{
                                 @if $vista == mobile {
                                         @media only screen and (max-width: 767.98px){
                                                 width: 22rem; 
                                                 height: 22rem;                     
                                         }
                                }
                                 iframe {
                                         @if $vista == mobile {
                                                 @media only screen and (max-width: 767.98px){
                                                         width: 22rem;    
                                                         height: 22rem;                   
                                                 }
                                                
                                         }
                                 }
                         }
                 }
                }     
        
        tbody{
                tr{
                        th , td{
                                @if $vista == desktop {
                                        @media only screen and (min-width: 1400px){
                                               
                                                font-weight: 400;
                                                font-size: 1.5em;
                
                                        }
                                        
                                }
                                @else if $vista == laptop {
                                        @media only screen and (max-width: 1399.98px){
                                               
                                                font-weight: 400;
                                                font-size: 1em;
                                        }
                
                                        }
                                @else if $vista == tablet {
                                        @media only screen and (max-width: 1199.98px){
                                               
                                                font-weight: 300;
                                                font-size: .8em;
                
                                        }
                                        
                                }
                                @else if $vista == mobile {
                                        @media only screen and (max-width: 767.98px){
                                               
                                                font-weight: 300;
                                                font-size: .55em;
                
                                        }
                                        
                                }
                        }
                        
                }
                
        }
}