$background: url(../assets/images/fondo.png);
$colores-redesMenu:(
    "facebook" : #3b5999,
    "instagram" :  #d63369,
    "spotify" :  #00b627,
    "youtube" :   #f12400,
    "soundcloud": rgb(252, 122, 0),
);
$colores-menu : (
    "about" : rgb(75, 255, 75),
    "disc" : rgb(255, 85, 34),
    "tours" : rgb(75, 243, 255),
    "contact" : rgb(248, 47, 255),
);
$borderShadow:9px 9px 16px rgba(163, 177, 198, 0.6),
    -9px -9px 16px rgba(255, 255, 255, 0.39);

$borderRadious: 20%;

