
@import "./mixins";
@import "./variables";
@import "./header";
@import "./footer";
@import "./main";
@import "./fonts";



body {
    width: 100vw;
    height: 100vh;
    background-image: $background ;
}

@include query(desktop);
@include query(laptop);
@include query(tablet);
@include query(mobile);